{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Login - Exam Redo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>

  <body>
    <div class="logo-container">
      <img src="{% static 'images/logo.svg' %}" alt="Exam Redo Logo" />
    </div>
    <div class="student-login-container">
      <div class="student-login-content">
        <div class="login-form-container">
          <div class="login-form-box">
            <h2 class="login-title">Student Login</h2>

            <form method="post" action="{% url 'students:student_login' %}">
              <!-- {% csrf_token %} -->
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="username"
                  class="form-input"
                  placeholder="Enter your email"
                  required
                />
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-input"
                  placeholder="Enter your password"
                  required
                />
              </div>

              <div class="form-actions">
                <button type="submit" class="form-submit-button">Login</button>
                <a href="{% url 'students:password_reset' %}" class="forgot-password">Forgot password?</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>